# Segredos
.env
.env.*
!.env.example

# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Editores / SO
.vscode/
.idea/
.DS_Store
